{{!-- 
WHEN I visit the site for the first time

THEN I am presented with the homepage, which includes existing blog posts if any have been posted; navigation links for the homepage and the dashboard; and the option to log in --}}

<h2>Recent Blog Posts</h2>
{{#each blogs as |blog|}}
<a href = "/blog/{{blog.id}}">
  <p>{{blog.blog_title}}</p>
</a>
<p>{{blog.post_date}}</p>
<p>{{blog.user.name}}</p>
{{/each}}
